#divider {
  margin-top: -15rem;
  padding-top: 20rem;
  padding-bottom: 5rem;
  background-color: $white-color;
  text-align: left;
}

.divider-text {
  margin: 0px;
  font-size: $very-big-font-size;
  font-weight: 700;
  font-family: $title-font;
  text-transform: uppercase;
  text-align: left;

  @include respond(phone) {
    font-size: 2.8rem;
  }
}
