// COLORS
$primary-color: #ee6c4d;
$secondary-color: #1f2933;

$darkmode-bg: #1f2933;

// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$white-color: #dfdfdf;

$dark-grey: #333333;

$dark-blue-text: #272341; // For Headings

// FONT SIZE

$very-big-font-size: 6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
$default-font-size: 1.6rem;
$small-font-size: 1.2rem;

$title-font: 'Montserrat';
$default-font: 'Open Sans';
